body {
    font-family: 'Courier New', monospace;
    color: lightblue;
    background-color: #c5e0df;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}
h1 {
    text-align: center;
}
p {
  text-align: center;
}
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
